<%#
 Copyright 2016-2019 Xingwang Liao <kuoruan@gmail.com>
 Licensed to the public under the Apache License 2.0.
-%>

<%
local kcp = require "luci.model.kcptun"
local dsp = require "luci.dispatcher"

local client_file = kcp.get_config_option("client_file")
local client_version = kcp.get_kcptun_version(client_file)
local luci_version = kcp.get_luci_version()
-%>

<fieldset class="cbi-section">
  <legend><%:Running Status%></legend>
  <table width="100%" cellspacing="10" id="_kcptun-status_table">
    <tr>
      <td width="33%"><%:Client Version%></td>
      <td>
        <% if client_version == "" then -%>
        <em><%:Invalid Client File.%></em>
        <% else -%>
        <%=pcdata(client_version)%>
        <%- end %>
      </td>
    </tr>
    <tr><td width="33%"><%:Client Status%></td><td id="_kcptun-client_status"><em><%:Collecting data...%></em></td></tr>
    <% if luci_version ~= "" then -%>
    <tr><td width="33%"><%:LuCI Version%></td><td><%=pcdata(luci_version)%></td></tr>
    <% end -%>
  </table>
</fieldset>

<script type="text/javascript">//<![CDATA[
  XHR.poll(5, '<%=dsp.build_url("admin/services/kcptun/status")%>', null,
    function(x, json) {
      if (x.status !== 200 || !json) return;
      var clientStatusElm = document.getElementById('_kcptun-client_status');
      if (clientStatusElm) {
        clientStatusElm.innerHTML = json.client ? '<%:Running%>' : '<%:Not Running%>';
      }
    }
  );
//]]></script>

<style type="text/css">
  table#_kcptun-status_table {
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    height: auto;
    margin-bottom: 0;
    padding: 0;
    font-size: 13px;
  }

  table#_kcptun-status_table td {
    display: table-cell;
    vertical-align: middle;
    padding: 10px 0;
    line-height: 18px;
    text-align: left;
  }
</style>
